@page "/"
<body>
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Little Eden</h1>
        <p class="lead">Create Order to get started!</p>
    </div>

    <div class="text-center">
        <img class="img-fluid rounded" src="https://scontent.fman2-1.fna.fbcdn.net/v/t1.0-9/p960x960/74420288_100303814744898_3986301289360261120_o.jpg?_nc_cat=101&_nc_sid=7aed08&_nc_ohc=MzGKNRH4VXAAX-flhCA&_nc_ht=scontent.fman2-1.fna&_nc_tp=6&oh=89b2d6966f068d9e25df18bb512a5e42&oe=5F581D4C">
    </div>
</body>


